/* Units

0.8rem 12.8px
0.9rem 14.4px
1.0rem 16px
1.2rem 19.2px
1.2rem
1.5rem 24px

 */
body,
.container,
.row,
table thead th,
table tbody tr,
ul li,
p,
h1,
h2,
h3,
h4,
a,
span {
	font-family: Roboto, sans-serif;
}
.content-header-wrapper table tr td:first-of-type {
	width: 30%;
}
main.ltc-content .container.content h1 {
	color: rgb(17, 24, 39);
}
main.ltc-content .container.content h2 {
	font-size: 2rem;
	margin: 2rem 0 1rem 0;
}
main.ltc-content .container.content h3 {
	font-size: 1.6rem;
	margin: 1.6rem 0 .8rem 0;
}
main.ltc-content .container.content h4 {
	font-size: 1.25rem;
	margin: 1.6rem 0 .8rem 0;
}


/* Typography */
p span.signature {
	font-family: 'Marck Script', cursive;
	color: rgba(100,100,100);
	font-size: 24px;
}
a {
	color: #1172A6;
}
a:hover,
a:focus {
	color: #0E608C;
}
li.navbar-item a.nav-link {
	padding-bottom: 0.25rem;
}
.navbar-dark .navbar-nav a.nav-link.nav-link-active {
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 2px solid #FFFFFF;
}
ul.resources-list li a,
p a {
	text-decoration: underline;
}
.ref-wrapper ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.ref-wrapper ul li {
	line-height: 1.4;
	font-size: 1rem;
	padding-bottom: 10px;
}
/* Table Adjustments ------------------------------- */
main .container.content table {
	width: 100%;
}
table.table-terms thead tr {
	background-color: rgba(230,230,230,.8);
}

table.quick-reference tbody tr th {
	width: 10%;
}
table tbody tr:hover,
table tbody tr:focus {
	background-color: rgba(243,244,246,.3);
}
table thead > tr > th {
	font-size: 1.0rem;
	font-weight: 400;
}
table thead > tr > th span {
	font-weight: 700;
}
table tbody > tr > th {
	width: 15%;
	font-size: 0.9rem;
	text-align: right;
    font-weight: 600;
    white-space: nowrap;
}
table tbody > tr > td {
	vertical-align: baseline;
	font-size: 0.9rem;
	padding: 7px 10px;
}
table tbody tr:nth-child(even) {
	background-color: rgba(230,230,230,0.2);
}
thead tr.class a,
thead tr th.class a,
tbody tr.class a,
tbody tr td.class a {
	color: rgba(102,10,16,1);
}
thead tr th.class,
thead tr th.property,
thead tr th.class a,
thead tr th.property a,
tbody tr td.class a,
tbody tr td.property a {
	color: #FFFFFF;
}
thead tr th.property,
tbody tr td.property {
	background-color: rgba(4, 130, 37, 0.8);
}
thead tr th.class,
tbody tr td.class {
	background-color: rgba(102, 14, 17, 0.8);
}
thead tr th span.title {
	letter-spacing: 0.02em;
}
table tbody tr td ul.td-list {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}
table tbody tr td ul.td-list li {
	display: inline-block;
	float: left;
	margin-right: 10px;
}
table tbody tr td ul.td-list li span {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	white-space: break-spaces;
	background-color: rgba(230, 230, 230, 1);
	border-radius: 6px;
	font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
	font-size: 0.9rem;
}
table tbody tr.skos-tr,
table tbody tr.skos-tr td {
	position: relative;
}
table tbody tr.skos-tr td span.w-50 {
	display: inline;
	width: 50%;
	position: relative;
}
table tbody tr.skos-tr td span:first-of-type {
	margin-right: 0;
	padding-right: 15px;
	border-right: 2px solid rgb(66, 72, 82);
}
table tbody tr.skos-tr td span.skos-term {
	margin-left: 0;
	padding-left: 15px;
}
main .container.content table.table-terms {
	margin-bottom: 0;
}
.term-table-wrapper {
	margin-bottom: 1.2rem;
}
/* DC Table (Adopted from Dublin Core */
table.dc-table {
	font-size: 0.8rem;
}
table tr th.w-18 {
	width: 18%;
}
table tr th.w-26 {
	width: 26%;
}

/* RDF Badges ---------------------- */
.badge.badge-class {
	background-color: #FFFFFF;
	color: rgb(33, 37, 41);
	font-weight: 500;
}
.badge.badge-property {
	line-height: 1.2rem;
	background-color: #FFFFFF;
	color: rgb(33, 37, 41);
	font-weight: 500;
}


/* List Adjustments ----------------------------- */
.list-2-col {
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-count: 2;
    -moz-column-gap: 24px;
	column-gap: 24px;
	-webkit-column-gap: 24px;
}

.list-3-col {
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-count: 3;
    -moz-column-gap: 16px;
	column-gap: 16px;
	-webkit-column-gap: 16px;
}
.list-4-col {
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-count: 4;
    -moz-column-gap: 12px;
	column-gap: 12px;
	-webkit-column-gap: 12px;
}


main.ltc-content ol,
main.ltc-content ul {
	padding-left: 15px;
}
main.ltc-content ul {
	list-style-type: disc;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
	padding-left: 15px;
}
main.ltc-content ul li {
	margin: .5em 0;
	padding-left: .375em;
}
ul.resources-list,
ul.term-list,
ul.cls-list {
	list-style-type: none;
	padding-left: 0;
}
main.ltc-content ol {
    list-style-type: decimal;
	list-style-position: outside;
}
main.ltc-content ol li {
	padding-left: .4em;
    margin-top: .5em;
    margin-bottom: .5em;
}
ol li::marker {
	color: rgb(107, 114, 128);
	font-weight: 400;
}
ol li:first-child {
	margin-top: 1.2em;
}
ol li:last-child {
	margin-bottom: 1.2em;
}
/* Class Sets -------------------- */

.class-set-wrapper h5,
.term-set-by-class-wrapper h5 {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 600;
}
.class-set-wrapper,
.term-set-by-class-wrapper {
	padding: 1rem 0 0 0;
	border-bottom: 1px solid rgb(150,150,150);
}
/* Buttons */
a.class {
	color: #660A10;
}
a.property {
	color: #09591D;
}
.btn.class {
	color: #660A10;
    border-color: #660A10;
}
.btn.property {
	color: #09591D;
    border-color: #09591D;
}

.btn-outline-primary {
    color: #560D59;
    border-color: #560D59;
		font-weight: 500;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
	background-color: #560D59;
	color: #FFFFFF;
	font-weight: 500;

}
nav.navbar.bg-ltc,
.header.bg-no-image {
    background-color: #560D59;
}
main.ltc-content .toc ul {
	list-style-type: none;
	padding-left: 0;
}
.table.table-sssom>:not(:first-child),
table.table-sssom thead,
table.table-sssom tbody {
	border: none;

}
table.table-child.table-sssom thead th {
	font-size: 0.9rem;
	text-align: right;
	border-bottom: none;
}
table.table-child.table-sssom thead th a {
	font-weight: 500;
}
table.table-child.table-sssom tbody tr td {
	border-top: 1px solid rgb(222, 226, 230);
	border-bottom: 1px solid rgb(222, 226, 230);
}
table.table-child.table-sssom tbody tr td.col-1 {
	width: 15%;
	text-align: right;
}
table.table-child.table-sssom tbody tr td.col-2 {
	width: 30%;
}
table.table-child.table-sssom tbody tr td.col-3 {
	width: 55%;
}
/* Mermaid Diagram ----------------------------------- */
[id^="mermaid"] {
}
.diagram-wrapper {
	position: relative;
	border: 2px solid rgba(230,230,230,1);
	margin: 10px 0;
	padding: 10px;
}
.diagram-wrapper button {
	position: absolute;
	right: 5px;
	top: 5px;
}
.diagram-wrapper svg[id^="mermaid"] .node rect.title-state {
	fill: rgba(86,13,89,0.9) !important;
	stroke: rgba(220,220,220,0.8) !important;
}
.diagram-wrapper svg[id^="mermaid"] g.label .classTitle span.nodeLabel {
	font-weight: 600;
	font-size: 1.2rem;
}
.diagram-wrapper svg[id^="mermaid"] g.label span.nodeLabel {
	color: #FFFFFF !important;
	font-weight: 400;
}
.diagram-wrapper svg[id^="mermaid"] line.divider {
	stroke: rgba(250,250,250,0.5) !important;
}
/* Responsives ----------------- */
@media only screen and (max-width: 767px) {
	main {
		max-width: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		overflow-x: hidden;
	}
	.list-3-col,
	.list-4-col {
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-count: 2;
		-moz-column-gap: 12px;
		column-gap: 12px;
		-webkit-column-gap: 12px;
	}
	/*
	table.table-sssom,
	table.table-sssom tbody,
	table.table-sssom tbody tr,
	table.table-sssom tbody td {
	  display: flex;
	  flex-direction: column;
	  width: 100%;
	  word-break: break-all;
	}
	*/
	table.table-sssom thead th:not(:first-child) {
        display: none;
    }

    table.table-sssom td {
        display: block;
    }
	table.table-child.table-sssom thead tr th {
		text-align: left;
		border-bottom: 1px solid rgb(222, 226, 230);
	}
	table tbody tr.skos-tr td span.w-50,
	tr.skos-tr td span,
	table.table-child.table-sssom tbody tr td.col-1,
	table.table-child.table-sssom tbody tr td.col-2,
	table.table-child.table-sssom tbody tr td.col-3 {
		border: none;
		width: 100%;
		text-align: left;
	}

	table.table-child.table-sssom tbody tr td {
	}
	table tbody tr.skos-tr td span.w-50,
	tr.skos-tr td span {
		width: 100%;
		padding-left: 0;
		line-height: 2;
		border-right: none !important
	}

}
@media only screen and (max-width: 480px) {
	main .container.content {
		max-width: 100%;
		width: 100%;
		padding: 0 10px;
		margin: 0;
		overflow-x: inherit;
	}
	.list-2-col,
	.list-3-col,
	.list-4-col {
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-count: 1;
		-moz-column-gap: 0px;
		column-gap: 0px;
		-webkit-column-gap: 0px;
	}
}

/* Alt Colors
Original:#043B58;
Red: #8C3515
Green: #235900
Green 2: #006653
Purple: #560D59
*/
/* Fullscreen */
.mermaid {
	background-color: #FFFFFF;
}
.toggle-fullscreen-btn {
	top: 10px;
	right: 10px;
	border: 0;
	padding: 0;
	background: none;
	cursor: pointer;
	outline: none;
}


.toggle-fullscreen-svg {
	display: block;
	height: auto;
}

.toggle-fullscreen-svg path {
	transform-box: view-box;
	transform-origin: 12px 12px;
	fill: none;
	stroke: rgb(150,150,151);
	stroke-width: 3;
	transition: .15s;
}


.toggle-fullscreen-btn:hover path:nth-child(1),
.toggle-fullscreen-btn:focus path:nth-child(1) {
	transform: translate(-2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(2),
.toggle-fullscreen-btn:focus path:nth-child(2) {
	transform: translate(2px, -2px);
}

.toggle-fullscreen-btn:hover path:nth-child(3),
.toggle-fullscreen-btn:focus path:nth-child(3) {
	transform: translate(2px, 2px);
}

.toggle-fullscreen-btn:hover path:nth-child(4),
.toggle-fullscreen-btn:focus path:nth-child(4) {
	transform: translate(-2px, 2px);
}


.toggle-fullscreen-btn:not(.on) .icon-fullscreen-leave {
	display: none;
}

.toggle-fullscreen-btn.on .icon-fullscreen-enter {
	display: none;
}


