<div class="toc">
    <h6>On this page</h6>
    <ul>
        <li><a href="#1-introduction">1 Introduction</a>
            <ul>
                <li><a href="#11-status-of-the-content-of-this-document">1.1 Status of the content of this document</a></li>
                <li><a href="#12-rfc-2119-key-words">1.2 RFC 2119 key words</a></li>
                <li><a href="#13-categories-of-terms">1.3 Categories of Terms</a></li>
            </ul>
        </li>
        <li><a href="#2-borrowed-vocabulary">2 Borrowed Vocabulary</a></li>
        <li><a href="#3-namespace-prefixes-term-names">3 Namespaces, Prefixes and Term Names</a></li>
        <li><a href="#4-term-index">4 Term index</a>
            <ul>
                <li><a href="#41-index-by-term-name">4.1 Index By Term Name</a></li>
            </ul>
        </li>
        <li><a href="#5-vocabulary">5 Vocabulary</a></li>
        <li><a href="#skos-mappings">6 SKOS Mappings</a></li>
    </ul>
</div>
  
  