<div class="toc">
    <h6>On this page</h6>
    <ul>
        <li><a href="#1-introduction">1 Introduction</a>
            <ul>
                <li><a href="#11-status-of-the-content-of-this-document">1.1 Status of the content of this document</a></li>
                <li><a href="#12-rfc-2119-key-words">1.2 RFC 2119 key words</a></li>
            </ul>
        </li>
        <li><a href="#2-use-of-terms">2 Use of Terms</a></li>
        <li><a href="#3-term-index">3 Term index</a>
            <ul>
                <li><a href="#31-index-by-term-name">3.1 Index By Term Name</a></li>
                <li><a href="#32-index-by-label">3.2 Index By Label</a></li>
            </ul>
        </li>
        <li><a href="#4-vocabulary">4 Vocabulary</a></li>
        <li><a href="#5-skos-mappings">5 SKOS Mappings</a></li>
    </ul>
</div>
  
  