<dl>
  <dt>Title</dt>
  <dd>Latimer Core List of Terms</dd>
  <dt>Namespace IRI:</dt>
  <dd>http://rs.tdwg.org/ltc/terms/</dd>
  <dt>Preferred namespace abbreviation</dt>
  <dd>chrono:</dd>
  <dt>Date version issued</dt>
  <dd>2023-xx-xx</dd>
  <dt>Date created</dt>
  <dd>2023-xx-xx</dd>
  <dt>Part of TDWG Standard</dt>
  <dd><a href="http://www.tdwg.org/standards/xx">http://www.tdwg.org/standards/xxx</a></dd>
  <dt>This version</dt>
  <dd><a href="http://rs.tdwg.org/dwc/doc/ltc/2023-xx-xx">http://rs.tdwg.org/dwc/doc/ltc/2023-xx-xx</a></dd>
  <dt>Latest version</dt>
  <dd><a href="http://rs.tdwg.org/dwc/doc/ltc/">http://rs.tdwg.org/dwc/doc/ltc/</a></dd>
  <dt>Abstract</dt>
  <dd>Latimer Core (LtC) is a data standard for describing collections, proposed by the Collection Descriptions Task Group. It has been designed to support the representation and discovery of groups of items that are encompassed in collections and their subcomponents. The LtC classes and their properties (collectively called terms) aim to represent information that describes these groups of things in enough detail to inform deeper discovery of the resources they contain.</dd>
  <dt>Contributors</dt>
  <dd>Sharon Grant, Janeen Jones, Kate Webbink, Matt Woodburn, Jutta Buschbom, Sarah Vincent, Maarten Trekels, Quentin Groom</dd>
  <dt>Creator</dt>
  <dd>TDWG Darwin Core Latimer Core Extension Task Group</dd>
  <dt>Bibliographic citation</dt>
  <dd>xxx 2021. Latimer Core. Biodiversity Information Standards (TDWG). <a href="http://rs.tdwg.org/dwc/doc/ltc/2023-xx-xx">http://rs.tdwg.org/dwc/doc/ltc/2023-xx-xx</a></dd>
</dl>

<h2 id="1-introduction">1 Introduction</h2>

<p>This document contains all versions of terms in the Latimer Core (<a href="http://rs.tdwg.org/version/ltc/2023-xx-xx">http://rs.tdwg.org/version/ltc/2023-xx-xx</a>). The vocabulary uses the namespace abbreviation <code class="language-plaintext highlighter-rouge">chrono:</code>. Earlier term versions using the <code class="language-plaintext highlighter-rouge">zooarchnet:</code> namespace are deprecated and should no longer be used. These deprecated terms can be found at <a href="http://rs.tdwg.org/ltc/zooarchnet/">http://rs.tdwg.org/ltc/zooarchnet/</a>.</p>

<p>For a simplified list that contains only the currently recommended terms, see the Latimer Core Quick Reference Guide (<a href="https://tdwg.github.io/ltc/terms/">https://tdwg.github.io/ltc/terms/</a>).</p>

<h3 id="11-status-of-the-content-of-this-document">1.1 Status of the content of this document</h3>

<p>In Section 4, the values of the <code class="language-plaintext highlighter-rouge">Term IRI</code>, and <code class="language-plaintext highlighter-rouge">Definition</code> are normative. The values of <code class="language-plaintext highlighter-rouge">Term Name</code> are non-normative, although one can expect that the namespace abbreviation prefix is one commonly used for the term namespace.  <code class="language-plaintext highlighter-rouge">Label</code> and the values of all other properties (such as <code class="language-plaintext highlighter-rouge">Notes</code> and <code class="language-plaintext highlighter-rouge">Examples</code>) are non-normative.</p>

<h3 id="12-rfc-2119-key-words">1.2 RFC 2119 key words</h3>
<p>The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in <a href="https://tools.ietf.org/html/rfc2119">RFC 2119</a>.</p>

<h2 id="2-use-of-terms">2 Use of Terms</h2>

<p>The terms in this standard are meant to provide stable definitions that can be used in a variety of contexts, but were envisioned principally to function together as an extension to Darwin Core, where each core record may be annotated by one or more Latimer Cores.</p>

