/venv
/.idea
/build
config.yaml
app/.idea/workspace.xml
app/.idea/workspace.xml
app/.idea/workspace.xml
*.xml
app/.idea/workspace.xml
Desktop.ini
RF13022024152609761334319.ico
.env
.DS_Store
*/venv
*/.env