/venv
/.idea
/build
config.yaml
.idea


/.idea
/__pycache__
/build
/venv
/templates/tests
workspace.xml

/templates/includes/deprecated/
/configs/
/utils/
/configs/
/reference/
/static/tables/
/templates/includes/deprecated/
/utils/
