<h3 id="1-introduction">1. Introduction</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet odio a est accumsan blandit. Etiam ac quam quam. Aliquam feugiat eros sed condimentum sollicitudin. Donec tristique est enim, id sagittis libero ullamcorper ac. Quisque eu justo at nisl blandit luctus.</p>

<h3 id="2-skos">2. SKOS</h3>
<p>SKOS Mappings metadata elements</p>
<ul>
    <li>SKOS Simple Knowledge Organization System Reference: <a href="https://www.w3.org/TR/skos-reference/">https://www.w3.org/TR/skos-reference/</a></li>
    <li>Namespace URI: <a href="http://www.w3.org/2004/02/skos/core">http://www.w3.org/2004/02/skos/core</a></li>
    <li>Namespace Prefix: skos:</li>
</ul>
