<div class="table-responsive">
    <table class="table skos-table dc-table">
    <thead>
        <tr>
            <th class="w-18">subject_label</th>
            <th class="w-18">predicate_label</th>
            <th class="w-18">object_id</th>
            <th class="w-26">mapping_justification</th>
        </tr>
    </thead>
    <tbody>
    {% if sssom.iterable %}
    <h2>Iterable</h2>
    {%  endif %}
        {% for k,v in sssom.iterrows() %}
            <tr>
                <td>{{ v['subject_label'] }}</td>
                <td>{{ v['predicate_label'] }}</td>
                <td>{{ v['object_id']|urlize() }}</td>
                <td>{{ v['mapping_justification'] }}</td>
            </tr>
        {%  endfor %}
    </tbody>
</table>
