<h1>Latimer Core List of Terms</h1>
<p><strong>Title</strong>
: Latimer Core List of Terms</p>
<p><strong>Date version issued</strong>
: yyyy-mm-dd</p>
<p><strong>Date created</strong>
: yyyy-mm-dd</p>
<p><strong>Part of TDWG Standard</strong>
: <a href="http://www.tdwg.org/standards/643">http://www.tdwg.org/standards/643</a></p>
<p><strong>This version</strong>
: <a href="http://rs.tdwg.org/ltc/doc/list/yyyy-mm-dd">http://rs.tdwg.org/ltc/doc/list/yyyy-mm-dd</a></p>
<p><strong>Latest version</strong>
: <a href="http://rs.tdwg.org/ltc/doc/list/">http://rs.tdwg.org/ltc/doc/list/</a></p>
<p><strong>Abstract</strong>
: Latimer Core (LtC) is a data standard designed to support the representation, discovery and communication of natural
science collections. A Latimer Core record may represent a grouping of objects at any level of granularity above the
level of a single object, from an entire collection of an institution to a few objects in a single drawer. The classes
within the standard aim to allow the high-level representation of any given collection by providing a framework within
which the defining characteristics shared by objects in the collection can be described. Among others, these include
their taxonomic, geographic, stratigraphic and temporal coverage, and a framework for adding quantative metrics and
narratives to help to quantify and describe the collections.</p>
<p>The creation of collection-level records is intended to promote visibility and use of items in collections that are
otherwise wholly or partially undigitised at a granular level. This document contains a list of attributes of each
Latimer Core term, including a documentation name, a specified URI, a recommended English label for user interfaces, a
definition, and some ancillary notes.</p>
<p><strong>Contributors</strong>
: Matt Woodburn, Kate Webbink, Janeen Jones, Sharon Grant, Deborah Paul, Maarten Trekels, Quentin Groom, Sarah Vincent,
Gabi Droege, William Ulate, Mike Trizna, Niels Raes, Jutta Buschbom</p>
<p><strong>Creator</strong>
: TDWG Collection Descriptions (CD) Interest Group</p>
<p><strong>Bibliographic citation</strong>
: Latimer Core Maintenance Group. 2022. Latimer Core List of Terms. Biodiversity Information Standards (
TDWG). <a href="http://rs.tdwg.org/ltc/doc/list/yyyy-mm-dd">http://rs.tdwg.org/ltc/doc/list/yyyy-mm-dd</a></p>
<h2>1 Introduction</h2>
<h3>1.1 Status of the content of this document</h3>
<p>Sections 2 through 3 are normative, except for Table 1. In Section 4 and its subparts, the values of the Normative URI,
Definition, Required, and Repeatable are normative. The value of Usage (if it exists for a given term) is normative in
that it specifies how a borrowed term should be used as part of Latimer Core. The values of Term Name is non-normative,
although one can expect that the namespace abbreviation prefix is one commonly used for the term namespace. Labels and
the values of all other properties (such as notes) are non-normative.</p>
<h3>1.2 RFC 2119 key words</h3>
<p>The key words "MUST", "MUST NOT", "REQUIRED", "SHALL", "SHALL NOT", "SHOULD", "SHOULD NOT", "RECOMMENDED", "MAY", and "
OPTIONAL" in this document are to be interpreted as described in <a href="https://tools.ietf.org/html/rfc2119">RFC 2119</a>.</p>
<h3>1.3 Categories of terms</h3>
<p>A Latimer Core (LtC) record is a description of a grouping of collection objects using the LtC vocabularies. It is
primarily focused on the description of natural science collections, but not exclusively. The terms in this document can
be loosely grouped into several categories.</p>
<p><strong>Terms describing the nature and scope of the collection objects within the group.</strong> These include a number of terms
within <code>ltc:ObjectGroup</code> class, and associated classes that provide information about the scope of the collection being
described such as the <code>ltc:GeographicOrigin</code>, <code>ltc:GeologicalContext</code> and <code>ltc:Taxon</code> classes. Due to the potentially
heterogeneous nature of the objects within any given group, these classes and terms will often be repeatable within a
LtC record.</p>
<p><strong>Terms describing the group as a whole.</strong> These are terms that relate to the group as a single entity, mapping to the
concept of a 'collection'. They include basic information terms within the <code>ltc:ObjectGroup</code> class, such
as <code>ltc:collectionName</code> and <code>ltc:description</code>, but also include terms relating to the management, accessibility and
tracking of the collection such as the <code>ltc:CollectionHistory</code> class and <code>ltc:conditionsOfAccess</code> property. There is
also some overlap with the generic terms in the category below, in the association of people, institutions and other
organisational units with the collections.</p>
<p><strong>Generic, reusable terms that can be applied in several contexts within the standard.</strong> Latimer Core uses a flexible
approach to the representation of concepts that may be applicable in more than one concept within the class. For
example, rather than specifying a separate term for each type of relevant identifier (for collections, people,
organisations, taxa and so on), LtC has a generic <code>ltc:Identifier</code> class. The type of identifier is defined in each
instance of the class using the <code>ltc:identifierType</code> property, and the object to which it relates (such as an instance
of <code>ltc:Person</code> or <code>ltc:OrganisationalUnit</code>) is defined by the association with that class in the dataset. A similar
approach applies to other classes in LtC, including <code>ltc:Address</code>, <code>ltc:ContactDetail</code> and <code>ltc:OrganisationalUnit</code>.
Similarly, <code>ltc:Person</code> is reusable, but uses the <code>ltc:PersonRole</code> class in conjunction with the <code>ltc:Role</code> class to
associate the person with instances of other classes in a particular role context (e.g. 'Collector', 'Record creator').</p>
<p><strong>Terms providing machine-readable metadata about the LtC record.</strong> These terms are predominantly found in
the <code>ltc:RecordLevel</code> class, and are intended to support the publication of LtC records as FAIR (Findable, Accessible,
Interoperable and Reusable) data. These include support for licensing and rights (<code>dcterms:license</code>, <code>dcterms:rights</code>
and <code>dcterms:rightsHolder</code>). The <code>ltc:LatimerCoreScheme</code> class also fits into this category, and is intended to provide
a mechanism to group LtC records under a common scheme and profile that allows the data to be appropriately aggregated
and validated.</p>