<h2 id="5-vocabulary">5 Vocabulary</h2>
  {% for k,v in terms.iterrows() %}
        <div class="table-responsive print-avoid">
            <table class="table table-compact table-terms">
                <thead>
                    <tr>
                        <th colspan="2"><a id="ltc_{{ v['term_local_name'] }}"></a>Term Name
                        <span class="title">{{ v['term_local_name'] }}</span></th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
							<th scope="row">Qualified Term</th>
							<td>{{ v['term_ns_name'] }}</td>
						</tr>
                        <tr>
							<th scope="row">Term URI</th>
							<td>{{ v['term_uri'] }}</td>
						</tr>

						<tr>
							<th scope="row">rdfs:Label</th>
							<td>{{ v['label'] }}</td>
						</tr>
						<tr>
							<th scope="row">Definition</th>
							<td>{{ v['definition'] }}</td>
						</tr>
						{% if v['usage'] %}
						<tr>
							<th scope="row">Usage</th>
							<td>{{ v['usage'] }}</td>
						</tr>
						{% else %}
						{% endif %}

						{% if v['notes'] %}
						<tr>
							<th scope="row">Notes</th>
							<td>{{ v['notes'] }}</td>
						</tr>
						{% else %}
						{% endif %}

						{% if v['examples'] %}
						<tr>
							<th scope="row">Examples</th>
							<td>{{ v['examples'] }}</td>
						</tr>
						{% else %}
						{% endif %}

						<tr>
							<th scope="row">Datatype</th>
                            {% if v['datatype'] %}
							<td>{{ v['datatype'] }}</td>
                            {% else %}
                            <td>array< self ></td>
                            {%  endif %}
						</tr>

                        {%  if(v['rdf_type'] == 'Property') %}
                        <tr>
                            <th scope="row">Belongs to Class</th>
                            <td>{{ v['class_name'] }}</td>
                        </tr>
                        {%  endif %}

                        {% if v['is_required'] %}
                        <tr>
							<th scope="row">Required</th>
							<td>{{ v['is_required'] }}</td>
						</tr>
                        {%  endif %}

                        <tr>
							<th scope="row">RDF Type</th>
                            {%  if(v['rdf_type'] == 'http://www.w3.org/1999/02/22-rdf-syntax-ns#Property')  %}
                                <td class="property"><a href="{{ v['rdf_type'] }}">rdf:Property</a></td>
                            {%  else %}
                                <td class="class"><a href="{{ v['rdf_type'] }}">rdfs:Class</a></td>
                            {%  endif %}
						</tr>
						</tbody>
					</table>
				</div>
				{% endfor %} 