<h2 id="skos-mappings">6 SKOS Mapping Relationships</h2>
<p>SKOS Mappings metadata elements based on Simple Standard for Sharing Ontological Mappings (SSSOM)</p>
<ul class="resources-list">
<li>URI: <a href="https://w3id.org/sssom/schema/">https://w3id.org/sssom/schema/</a></li>
<li>Repository: <a href="https://github.com/mapping-commons/sssom">https://github.com/mapping-commons/sssom</a></li>
<li>Citation: Nicolas Matentzoglu, James P Balhoff, Susan M Bello, Chris Bizon, Matthew Brush, Tiffany J Callahan, Christopher G Chute, William D Duncan, Chris T Evelo, Davera Gabriel, John Graybeal, Alasdair Gray, Benjamin M Gyori, Melissa Haendel, Henriette Harmse, Nomi L Harris, Ian Harrow, Harshad B Hegde, Amelia L Hoyt, Charles T Hoyt, Dazhi Jiao, Ernesto Jiménez-Ruiz, Simon Jupp, Hyeongsik Kim, Sebastian Koehler, Thomas Liener, Qinqin Long, James Malone, James A McLaughlin, Julie A McMurry, Sierra Moxon, Monica C Munoz-Torres, David Osumi-Sutherland, James A Overton, Bjoern Peters, Tim Putman, Núria Queralt-Rosinach, Kent Shefchek, Harold Solbrig, Anne Thessen, Tania Tudorache, Nicole Vasilevsky, Alex H Wagner, Christopher J Mungall, A Simple Standard for Sharing Ontological Mappings (SSSOM), Database, Volume 2022, 2022, baac035, <a href="https://doi.org/10.1093/database/baac035">https://doi.org/10.1093/database/baac035</a></li>
</ul>
<div class="table-responsive">
    <table class="table skos-table">
    <thead>
        <tr>
            <th class="w-18">subject_label</th>
            <th class="w-18">predicate_id</th>
            <th class="w-18">object_label</th>
            <th class="w-26">object_source</th>
        </tr>
    </thead>
    <tbody>
        {% for st in skos %}
            <tr>
                <td>{{ st.subject_label }}</td>
                <td>{{ st.predicate }}</td>
                <td>{{ st.object_label }}</td>
                <td>{{ st.object_source }}</td>
            </tr>
        {%  endfor %}
    </tbody>
</table>
