<h3 class="text-danger">DRAFT</h3>
<p>Latimer Core (LtC) is a data standard for describing collections, proposed by the Collection Descriptions Task Group. It has been designed to support the representation and discovery of groups of items that are encompassed in collections and their subcomponents. The LtC classes and their properties (collectively called terms) aim to represent information that describes these groups of things in enough detail to inform deeper discovery of the resources they contain.</p>

    <div class="row">
      <div class="col">

          <h2 id="public-review">Public Review</h2>
          <p>The Public Review for the Latimer Core Standard is planned for August 2023. Multiple ways will be available to contribute during the
              review period. Please read the following to determine which is best suited for you.</p>

          <h3>How to Participate in the Public Review</h3>
          <h4>Start Here</h4>
          <p>We offer several ways to explore the standard during the review. To participate please begin with one or all of the following:</p>
          <ol>
              <li>Read the <a href="">wiki</a></li>
              <li>Read the <a href="">Quick Reference Guide</a></li>
              <li>Read the <a href="">Normative Term list</a></li>
              <li>View the <a href="">Standard Browser</a> (Power BI)</li>
              <li>Read the <a href="">Implementation Guide and Use Cases</a></li>
          </ol>
          <h4>Ways to Provide Feedback</h4>
          <ol>
              <li>For general questions and statements, please use the <a href="https://github.com/tdwg/ltc/discussions">discussion forum</a>.</li>
              <li>For issues targeted to specific terms or sections of the wiki, please use the issue tracker and select the appropriate template.</li>
              <li>We will host open question and answer sessions via Zoom on Thursdays from 10am - 11am EST. The zoom link will be forthcoming. We are also willing to accomodate additional times upon request (contact below). </li>
          </ol>
          <p>If you are unsure, we encourage everyone to start on the discussion forum. The Public Review Moderator and LtC Team will create issues from the discussion forum when needed. The discussion originator and applicable participants will be tagged on the issue.</p>
          <p>For questions, comments, critiques, and praise, please contact Ben Norton, Review Manager and Public Review Moderator at michaelnorton.ben@gmail.com.



          <h2 id="getting-started">Getting started<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" href="#getting-started"></a></h2>

        <ul>
            <li><a href="quick-reference/">Quick Reference Guide</a></li>
            <li><a href="terms-list/">Normative Term List</a></li>
            <li>The <a href="https://github.com/tdwg/ltc/wiki/1.-Overview-of-Latimer-Core">LtC Wiki</a> provides an overview of Latimer Core's structure and purpose</li>
            <li>See how classes fit together in the <a href="https://rebrand.ly/tdwg-cd-standard-browser">Standard Browser</a>.</li>
            <li>Add or join a <a href="https://github.com/tdwg/ltc/discussions">Discussion</a></li>
        </ul>
      </div>

          <p>Standard live and die based on community. Without community support, a standard is just a list of random words. The public review is one of the best opportunities to support standards and the standardization process. You are free to leave
              public feedback or post anonymously by sending me a direct message over slack or email. I even accept notes tied to Game of Thrones style ravens.
              <br>
              Thanks!<br>
              - <span class="signature">Ben Norton</span><br>
              <a href="mailto:michaelnorton.ben@gmail.com">michaelnorton.ben@gmail.com</a></p>
    </div>


