<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Latimer Core List of Terms - Latimer Core</title>
	<meta property="og:url" content="https://tdwg.github.io/ltc/list/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Latimer Core List of Terms">
	<link rel="icon" type="image/x-icon" href="https://tdwg.github.io/ltc/favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{{ url_for('static',filename='assets/theme/css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/theme/css/fontawesome-all.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/theme/css/academicons.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/theme/css/pygments.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/ltc.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='assets/print.css') }}" media="print">

	<script src="{{ url_for('static',filename='assets/theme/js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/theme/js/popper.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/theme/js/bootstrap.min.js') }}"></script>
</head>
<body>
{% block main %}
{% endblock %}
</body>
</html>