<nav class="navbar navbar-expand-lg navbar-dark bg-ltc" id="main-nav">
	<div class="container">
	    <a class="navbar-brand d-flex align-items-center" href="/ltc/">      
	        <img class="me-3" src="https://tdwg.github.io/chrono/assets/theme/images/tdwg-logo-short.svg" alt="Latimer Core">
			Latimer Core      
	    </a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
			Menu <i class="fas fa-bars"></i>
		</button>
		<div class="collapse navbar-collapse" id="navbar-menu">
			<ul class="navbar-nav ms-auto">
				<li class="navbar-item">
					<a class="nav-link {{ 'nav-link-active' if slug == 'home' }}"
                       href="{{ url_for('home') }}">Home</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link {{ 'nav-link-active' if slug == 'terms-list' }}"
					href="{{ url_for('terms') }}">Terms</a>
				</li>
                <li class="navbar-item">
					<a class="nav-link {{ 'nav-link-active' if slug == 'skos-mappings' }}"
					href="{{ url_for('skosMappings') }}">SKOS</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link {{ 'nav-link-active' if slug == 'quick-reference' }}"
					href="{{ url_for('quickReference') }}">Guide</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link" href="https://dwc.tdwg.org/">Darwin Core</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link" href="https://github.com/tdwg/ltc">GitHub</a>
				</li>
	        </ul>
		</div>
	</div>
</nav>
