{% extends "base.html" %}
{% block main %}
<main class="ltc-content">
	{% include 'includes/skos/page-header.html' %}
	<div class="container content">
		<div class="row">
            <div class="col-lg-3 mx-auto">
				{% include 'includes/skos/sidebar.html' %}
			</div>
			<div class="col-lg-9 order-lg-first mx-auto">
                <h3 class="text-danger">DRAFT</h3>
                {% include 'includes/skos/skos-table-header.html' %}
                {% include 'includes/skos/skos-table.html' %}

                {% include 'includes/skos/sssom-table-header.html' %}
                {% include 'includes/skos/sssom-table.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}